body {
    background-color: white;
    background-image: url(angry\ black\ cat.gif);
}
.hero {
    text-align: center;
    color: magenta;
    font-family: cursive;
    font-size: larger;
    text-shadow: #FC0 1px 0 10px;
    background-image: url(Blck\ Cats.jpg);
}
h2 {
    color: royalblue;
    text-align:center;
    text-shadow: magenta 1px 0 10px;    
}

.img-Binx {
    width: 250px;
}